body{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    text-align: center;
}
/* navbar */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 50px;
}
.header ul{
    display: flex;
}
.header li{
    list-style:none;
}
.header li a{
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    transition: all .3s;
}
.header li a:hover{
    color: #00adff;
}
.btn{
    outline: none;
    border: none;
    background: #00adff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 4px;
    transition: all .3s;
}
.btn:hover{
    background: #00aeffbb;
    border: 1px solid #019de6;
}
/* home page */
.mainsection{
    height: 90vh;
    width: 100vw;
    background: url('main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.mainsection div{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40%;
}
.btn-2{
     outline: none;
    background: #f90b84;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 4px;
    transition: all .3s;
    border: 1px solid #f90b84;
}
.btn-2:hover{
    transform: scale(1.1);
}
.mainsection h5{
    margin-top: 0px;
    text-align: center;
    font-weight: 200;
    font-size: 18px;
}
.gallery h1{
     text-decoration: underline;
}
.gallery div{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.gallery div img{
    width: 28%;
    margin: 10px;
    height: 270px;
}
.goals{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
/* contact page */
.contact h1{
    text-decoration: underline;
}
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end !important;
    width: 40%;
    margin: auto;
    margin-top: 50px;
}
.contact form input{
    width: 90%;
    padding: 7px 0px;
    font-size: 16px;
    text-indent: 5px;
    margin: 10px;
    outline: none;
}
.contact form input:hover{
    border: 2px solid #00adff;
}
.contact label{
    width: 90%;
    text-align: start;
}
/* about page */
.discription{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 50px;
}
.discription div{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;

}
.discription p{
    width: 70%;
}
.discription img{
    width: 40%;
}
footer{
    width: 100%;
    padding:5px 0px;
    background:  #00adff;
    color: white;
}